// Body
$body-bg: #f8fafc;

// Typography
$font-family: "Lato";

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Gradients
$gradient: linear-gradient(90deg, #ac519c 0.83%, #e5424f 100%);
$gradient-alt: linear-gradient(90deg, #b678aa 1.29%, #e28990 100%);

// Shadows
$button-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
$modal-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
