// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap/scss/bootstrap";

$breakpoint-sm: "only screen and (min-width : 768px)";
$breakpoint-md: "only screen and (min-width : 1024px)";

$resolution-2x: "only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)";

$resolution-3x: "only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3)";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 37px;
    @media #{$breakpoint-sm} {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 84px;
        @media #{$breakpoint-md} {
            margin-top: 76px;
            margin-bottom: 118px;
        }
    }
}

.section {
    max-width: 375px;
    @media #{$breakpoint-sm} {
        max-width: 400px;
    }
    @media #{$breakpoint-md} {
        max-width: 560px;
    }
}

.sidebar {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 426px;
    min-width: 340px;
    max-width: 340px;
    margin-top: -10px;
    padding-top: 34px;
    @media #{$breakpoint-sm} {
        height: 640px;
        min-width: 220px;
        max-width: 220px;
        margin-top: 0;
        margin-left: 35px;
        padding-top: 30px;
    }
    @media #{$breakpoint-md} {
        height: 640px;
        min-width: 270px;
        max-width: 270px;
        margin-top: 78px;
        margin-left: 70px;
        padding-top: 50px;
    }
}

.sidebar__gradient-button {
    border: 0;
    font-family: $font-family;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: white;
    height: 50px;
    width: 282px;
    background: $gradient;
    box-shadow: $button-shadow;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    @media #{$breakpoint-sm} {
        font-size: 15px;
        line-height: 18px;
        height: 40px;
        width: 180px;
        @media #{$breakpoint-md} {
            height: 40px;
            width: 220px;
        }
    }
}

h2 {
    font-family: $font-family;
    font-weight: bold;
    color: #101010;
    margin-top: 0;

    &.section__title {
        margin-bottom: 27px;
        padding: 0 17px;
        font-size: 24px;
        line-height: 29px;
        @media #{$breakpoint-sm} {
            margin-bottom: 16px;
            padding: 0;
            font-size: 26px;
            line-height: 31px;
            @media #{$breakpoint-md} {
            }
        }
    }

    &.section__subtitle {
        margin-bottom: 16px;
        padding: 0 17px;
        font-size: 18px;
        line-height: 22px;
        @media #{$breakpoint-sm} {
            margin-bottom: 20px;
            padding: 0;
            @media #{$breakpoint-md} {
            }
        }
    }
}

h3 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
    color: #464646;

    &.modal__card__container__text {
        text-align: left;
        margin-left: 2px;
        margin-bottom: 23px;
        span {
            color: green;
        }

        @media #{$breakpoint-sm} {
            text-align: center;
            font-size: 23px;
            line-height: 28px;
            @media #{$breakpoint-md} {
            }
        }
    }
}

p {
    font-family: $font-family;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #101010;
    margin-top: 0;

    &.section__text {
        margin-bottom: 43px;
        padding: 0 17px;
        @media #{$breakpoint-sm} {
            margin-bottom: 20px;
            padding: 0;
            @media #{$breakpoint-md} {
            }
        }
    }
}

small {
    font-family: $font-family;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
    color: #848484;

    &.modal__card__container__progress-text {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        margin-bottom: 12px;

        @media #{$breakpoint-sm} {
            margin-top: 18px;
            @media #{$breakpoint-md} {
            }
        }
    }
}

.section__divider {
    border: 0;
    height: 2px;
    margin: 0 17px;
    margin-bottom: 22px;
    background: $gradient;

    @media #{$breakpoint-sm} {
        margin: 0;
        margin-bottom: 28px;
        @media #{$breakpoint-md} {
        }
    }
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // background-image: url("../../images/Divider.png");
    // @media #{$resolution-2x} {
    //     background-image: url("../../images/Divider@2x.png");
    // }
    // @media #{$resolution-3x} {
    //     background-image: url("../../images/Divider@3x.png");
    // }
}

.section__image-container {
    margin-top: -18px;
    margin-bottom: 31px;
    max-width: 100%;
    height: 222px;
    @media #{$breakpoint-sm} {
        margin-top: 28px;
        margin-bottom: 44px;
        height: 245px;
    }
    @media #{$breakpoint-md} {
        margin-top: 28px;
        margin-bottom: 44px;
        height: 330px;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/Image.png");
    @media #{$resolution-2x} {
        background-image: url("../../images/Image@2x.png");
    }
    @media #{$resolution-3x} {
        background-image: url("../../images/Image@3x.png");
    }
}

.overlay {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    opacity: 0.8;
    mix-blend-mode: normal;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 130px;
    @media #{$breakpoint-sm} {
        margin-top: 0;
        align-items: center;
        @media #{$breakpoint-md} {
        }
    }
}

.modal__card {
    z-index: 1000;
    height: 272px;
    width: 355px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$breakpoint-sm} {
        height: 310px;
        width: 570px;
        @media #{$breakpoint-md} {
        }
    }
}

.modal__card__container {
    width: 320px;
    @media #{$breakpoint-sm} {
        width: 440px;
        @media #{$breakpoint-md} {
        }
    }
}

.modal__card__container__progress-bar {
    width: 320px;
    height: 2px;
    margin-bottom: 22px;
    background: #e5e5e5;

    &.modal__card__container__progress-bar--remaining {
        margin-bottom: 22px;
        @media #{$breakpoint-sm} {
            width: 440px;
            @media #{$breakpoint-md} {
            }
        }
    }

    &.modal__card__container__progress-bar--filled {
        width: 160px;
        background: $gradient-reverse;
        @media #{$breakpoint-sm} {
            width: 220px;
            @media #{$breakpoint-md} {
            }
        }
    }
}

.modal__card__container__form-input {
    height: 49px;
    width: 296px;
    box-shadow: inset 0px 1px 5px rgba(142, 142, 142, 0.5);
    margin-bottom: 16px;
    border: 0;
    padding-left: 12px;
    padding-right: 12px;
    font-family: $font-family;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    @media #{$breakpoint-sm} {
        height: 54px;
        width: 408px;
        margin-bottom: 21px;
        padding-left: 15px;
        padding-right: 15px;
        @media #{$breakpoint-md} {
        }
    }
}

.modal__card__container__gradient-button {
    font-family: $font-family;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    height: 45px;
    width: 100%;
    background: $gradient;
    box-shadow: $button-shadow;
    border: 0;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    @media #{$breakpoint-sm} {
        height: 48px;
        @media #{$breakpoint-md} {
        }
    }
}

.modal__close-button {
    position: absolute;
    height: 42px;
    width: 42px;
    font-family: $font-family;
    font-weight: bold;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    align-self: flex-end;
    &:hover {
        cursor: pointer;
    }
    @media #{$breakpoint-sm} {
        height: 48px;
        width: 48px;
        font-size: 38px;
        line-height: 46px;
        @media #{$breakpoint-md} {
        }
    }
}

// :-ms-input-placeholder,
// ::-webkit-input-placeholder,
::placeholder {
    font-family: $font-family;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
