@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;

0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 37px;
}

@media only screen and (min-width : 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 84px;
  }
}

@media only screen and (min-width : 768px) and (min-width : 1024px) {
  .container {
    margin-top: 76px;
    margin-bottom: 118px;
  }
}

.section {
  max-width: 375px;
}

@media only screen and (min-width : 768px) {
  .section {
    max-width: 400px;
  }
}

@media only screen and (min-width : 1024px) {
  .section {
    max-width: 560px;
  }
}

.sidebar {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 426px;
  min-width: 340px;
  max-width: 340px;
  margin-top: -10px;
  padding-top: 34px;
}

@media only screen and (min-width : 768px) {
  .sidebar {
    height: 640px;
    min-width: 220px;
    max-width: 220px;
    margin-top: 16px;
    margin-left: 35px;
    padding-top: 30px;
  }
}

@media only screen and (min-width : 1024px) {
  .sidebar {
    height: 640px;
    min-width: 270px;
    max-width: 270px;
    margin-top: 78px;
    margin-left: 70px;
    padding-top: 50px;
  }
}

.button {
  border: 0;
  font-family: "Lato";
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
  text-align: center;
  height: 50px;
  width: 282px;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button.button--gradient {
  color: white;
  background: linear-gradient(90deg, #ac519c 0.83%, #e5424f 100%);
}

.button.button--gradient:hover {
  opacity: 0.8;
}

@media only screen and (min-width : 768px) {
  .button {
    height: 40px;
    width: 180px;
  }
}

@media only screen and (min-width : 1024px) {
  .button {
    height: 40px;
    width: 220px;
  }
}

h2 {
  font-family: "Lato";
  font-weight: bold;
  color: #101010;
  margin-top: 0;
}

h2.section__title {
  margin-bottom: 27px;
  padding: 0 17px;
  font-size: 24px;
  line-height: 29px;
}

@media only screen and (min-width : 768px) {
  h2.section__title {
    margin-bottom: 16px;
    padding: 0;
    font-size: 26px;
    line-height: 31px;
  }
}

h2.section__subtitle {
  margin-bottom: 16px;
  padding: 0 17px;
  font-size: 18px;
  line-height: 22px;
}

@media only screen and (min-width : 768px) {
  h2.section__subtitle {
    margin-bottom: 20px;
    padding: 0;
  }
}

p {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  margin-top: 0;
}

p.section__text {
  margin-bottom: 43px;
  padding: 0 17px;
}

@media only screen and (min-width : 768px) {
  p.section__text {
    margin-bottom: 20px;
    padding: 0;
  }
}

hr {
  border: 0;
  height: 2px;
  margin: 0 17px;
  margin-bottom: 22px;
  background: linear-gradient(90deg, #ac519c 0.83%, #e5424f 100%);
}

@media only screen and (min-width : 768px) {
  hr {
    margin: 0;
    margin-bottom: 28px;
  }
}

.section__image-container {
  margin-top: -18px;
  margin-bottom: 31px;
  max-width: 100%;
  height: 222px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/images/Image.png?e5f6dd2bf7bf998c49f9ecd77e9f9b48);
}

@media only screen and (min-width : 768px) {
  .section__image-container {
    margin-top: 28px;
    margin-bottom: 44px;
    height: 300px;
  }
}

@media only screen and (min-width : 1024px) {
  .section__image-container {
    margin-top: 28px;
    margin-bottom: 44px;
    height: 330px;
  }
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .section__image-container {
    background-image: url(/images/Image@2x.png?68b769537a849e847499bdca8d284aed);
  }
}

@media only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3) {
  .section__image-container {
    background-image: url(/images/Image@3x.png?b35916212b0502ac2e2a53ca8e7cacfc);
  }
}

