@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;

0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 37px;
}

@media only screen and (min-width : 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 84px;
  }
}

@media only screen and (min-width : 768px) and (min-width : 1024px) {
  .container {
    margin-top: 76px;
    margin-bottom: 118px;
  }
}

.section {
  max-width: 375px;
}

@media only screen and (min-width : 768px) {
  .section {
    max-width: 400px;
  }
}

@media only screen and (min-width : 1024px) {
  .section {
    max-width: 560px;
  }
}

.sidebar {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 426px;
  min-width: 340px;
  max-width: 340px;
  margin-top: -10px;
  padding-top: 34px;
}

@media only screen and (min-width : 768px) {
  .sidebar {
    height: 640px;
    min-width: 220px;
    max-width: 220px;
    margin-top: 0;
    margin-left: 35px;
    padding-top: 30px;
  }
}

@media only screen and (min-width : 1024px) {
  .sidebar {
    height: 640px;
    min-width: 270px;
    max-width: 270px;
    margin-top: 78px;
    margin-left: 70px;
    padding-top: 50px;
  }
}

.sidebar__gradient-button {
  border: 0;
  font-family: "Lato";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
  height: 50px;
  width: 282px;
  background: linear-gradient(90deg, #ac519c 0.83%, #e5424f 100%);
  box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
}

.sidebar__gradient-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.sidebar__gradient-button:focus {
  outline: none;
}

@media only screen and (min-width : 768px) {
  .sidebar__gradient-button {
    font-size: 15px;
    line-height: 18px;
    height: 40px;
    width: 180px;
  }
}

@media only screen and (min-width : 768px) and (min-width : 1024px) {
  .sidebar__gradient-button {
    height: 40px;
    width: 220px;
  }
}

h2 {
  font-family: "Lato";
  font-weight: bold;
  color: #101010;
  margin-top: 0;
}

h2.section__title {
  margin-bottom: 27px;
  padding: 0 17px;
  font-size: 24px;
  line-height: 29px;
}

@media only screen and (min-width : 768px) {
  h2.section__title {
    margin-bottom: 16px;
    padding: 0;
    font-size: 26px;
    line-height: 31px;
  }
}

h2.section__subtitle {
  margin-bottom: 16px;
  padding: 0 17px;
  font-size: 18px;
  line-height: 22px;
}

@media only screen and (min-width : 768px) {
  h2.section__subtitle {
    margin-bottom: 20px;
    padding: 0;
  }
}

h3 {
  font-family: "Lato";
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-top: 0;
  color: #464646;
}

h3.modal__card__container__text {
  text-align: left;
  margin-left: 2px;
  margin-bottom: 23px;
}

h3.modal__card__container__text span {
  color: green;
}

@media only screen and (min-width : 768px) {
  h3.modal__card__container__text {
    text-align: center;
    font-size: 23px;
    line-height: 28px;
  }
}

p {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  margin-top: 0;
}

p.section__text {
  margin-bottom: 43px;
  padding: 0 17px;
}

@media only screen and (min-width : 768px) {
  p.section__text {
    margin-bottom: 20px;
    padding: 0;
  }
}

small {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0;
  color: #848484;
}

small.modal__card__container__progress-text {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

@media only screen and (min-width : 768px) {
  small.modal__card__container__progress-text {
    margin-top: 18px;
  }
}

hr.section__divider {
  border: 0;
  height: 2px;
  margin: 0 17px;
  margin-bottom: 22px;
  background: linear-gradient(90deg, #ac519c 0.83%, #e5424f 100%);
}

@media only screen and (min-width : 768px) {
  hr.section__divider {
    margin: 0;
    margin-bottom: 28px;
  }
}

.section__image-container {
  margin-top: -18px;
  margin-bottom: 31px;
  max-width: 100%;
  height: 222px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/images/Mask.png?473e0611f7f752a6cccadeaa22874ce8);
}

@media only screen and (min-width : 768px) {
  .section__image-container {
    margin-top: 28px;
    margin-bottom: 44px;
    height: 245px;
  }
}

@media only screen and (min-width : 1024px) {
  .section__image-container {
    margin-top: 28px;
    margin-bottom: 44px;
    height: 330px;
  }
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .section__image-container {
    background-image: url(/images/Mask@2x.png?bca6de654e4e52cd38e90154438b74e8);
  }
}

@media only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3) {
  .section__image-container {
    background-image: url(/images/Mask@3x.png?213346846da2f3be36773b7347e99ed8);
  }
}

.section__image-container__image {
  margin-top: -18px;
  margin-bottom: 31px;
  max-width: 100%;
  height: 222px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/images/Image.png?e5f6dd2bf7bf998c49f9ecd77e9f9b48);
}

@media only screen and (min-width : 768px) {
  .section__image-container__image {
    margin-top: 28px;
    margin-bottom: 44px;
    height: 245px;
  }
}

@media only screen and (min-width : 1024px) {
  .section__image-container__image {
    margin-top: 28px;
    margin-bottom: 44px;
    height: 330px;
  }
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .section__image-container__image {
    background-image: url(/images/Image@2x.png?68b769537a849e847499bdca8d284aed);
  }
}

@media only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3) {
  .section__image-container__image {
    background-image: url(/images/Image@3x.png?b35916212b0502ac2e2a53ca8e7cacfc);
  }
}

.overlay {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #262626;
  opacity: 0.8;
  mix-blend-mode: normal;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 130px;
}

@media only screen and (min-width : 768px) {
  .modal {
    margin-top: 0;
    align-items: center;
  }
}

.modal__card {
  z-index: 1000;
  height: 272px;
  width: 355px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width : 768px) {
  .modal__card {
    height: 310px;
    width: 570px;
  }
}

.modal__card__container {
  width: 320px;
}

@media only screen and (min-width : 768px) {
  .modal__card__container {
    width: 440px;
  }
}

.modal__card__container__progress-bar {
  width: 320px;
  height: 2px;
  margin-bottom: 22px;
  background: #e5e5e5;
}

.modal__card__container__progress-bar.modal__card__container__progress-bar--remaining {
  margin-bottom: 22px;
}

@media only screen and (min-width : 768px) {
  .modal__card__container__progress-bar.modal__card__container__progress-bar--remaining {
    width: 440px;
  }
}

.modal__card__container__progress-bar.modal__card__container__progress-bar--filled {
  width: 160px;
  background: linear-gradient(90deg, #e5424f 0.83%, #ac519c 100%);
}

@media only screen and (min-width : 768px) {
  .modal__card__container__progress-bar.modal__card__container__progress-bar--filled {
    width: 220px;
  }
}

.modal__card__container__form-input {
  height: 49px;
  width: 296px;
  box-shadow: inset 0px 1px 5px rgba(142, 142, 142, 0.5);
  margin-bottom: 16px;
  border: 0;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}

.modal__card__container__form-input:focus {
  outline: none;
  background: white;
}

.modal__card__container__form-input.modal__card__container__form-input--error {
  border: solid 1px tomato;
}

@media only screen and (min-width : 768px) {
  .modal__card__container__form-input {
    height: 54px;
    width: 408px;
    margin-bottom: 21px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal__card__container__gradient-button {
  font-family: "Lato";
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  height: 45px;
  width: 100%;
  background: linear-gradient(90deg, #ac519c 0.83%, #e5424f 100%);
  box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
  border: 0;
}

.modal__card__container__gradient-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__card__container__gradient-button:focus {
  outline: none;
}

@media only screen and (min-width : 768px) {
  .modal__card__container__gradient-button {
    height: 48px;
  }
}

.modal__close-button {
  position: relative;
  margin-bottom: -42px;
  z-index: 1000;
  height: 42px;
  width: 42px;
  font-family: "Lato";
  font-weight: bold;
  font-size: 29px;
  line-height: 35px;
  text-align: center;
  align-self: flex-end;
}

.modal__close-button:hover {
  cursor: pointer;
}

@media only screen and (min-width : 768px) {
  .modal__close-button {
    margin-bottom: -48px;
    height: 48px;
    width: 48px;
    font-size: 38px;
    line-height: 46px;
  }
}

:-ms-input-placeholder {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

::-ms-input-placeholder {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

::-ms-input-placeholder,
::-webkit-input-placeholder,
::placeholder {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

